{{> listerPremiereLettreNomPilote}}
<div class="profilPilote" align="center">
    {{#each data}}
        <img class="imagePiloteBtn" src="/image/pilote/{{this.phoadresse}}"/>
        <a class="nomPilote" href="/detailPilote/{{this.pilnum}}">{{this.pilprenom}} {{this.pilnom}}</a>
    {{/each}}

</div>